*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../Quiz/img/brushed.png);
    background-size: cover;
    display: block;
    padding: 50px;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
}

.main {
    position: fixed;
    padding-bottom: 0;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 3px solid #dddddd;
}

div.container {
    width: 70%;
    height: 500px;
    margin-top: 10%; 
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    background-color: white;
}

#questions {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

div#choices.choices {
    display: grid;
    width: 200px;
    height: 280px;
    margin-top: 50px;
    margin-left: 70px;
    padding-bottom: 20px;
    gap: 20px;
}

button.choice  {
    background-color: blueviolet;
    border: 1px solid blueviolet;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
}

button.choice {
    background-color: indigo;
    border-color: indigo;
}

#message {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    margin-left: 70px;
    padding-top: 15px;
}

button#start.start-btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: white;
    background-color: blueviolet;
    border: 1px solid blueviolet;
    border-radius: 10px;
    width: 200px;
    height: 60px;
}

.start-btn:hover{
    background-color: indigo;
    border-color: indigo;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}


a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: blueviolet;
    float: left;
    padding-left: 50px;
    padding-top: 15px;
    text-decoration: none;
}

div.countdown {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    padding-right: 100px;
}

input#initials {
    height: 30px;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

button#submit {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 20px;
    color: white;
    background-color: blueviolet;
    border: 1px solid blueviolet;
    border-radius: 10px;
    width: 120px;
    height: 50px;
}

/* Highscores page */

div.wrapper {
    height: auto;
    margin-top: 10%; 
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 30px;
    background-color: white;
}

ol#highscores {
    margin-left: 200px;
}

div.buttons {
    display: inline-flex;
    margin-left: 25%;
}

button#return {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 30px;
    color: white;
    background-color: blueviolet;
    border: 1px solid blueviolet;
    border-radius: 10px;
    width: 150px;
    height: 50px;
}

button#clear {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 35px;
    color: white;
    background-color: blueviolet;
    border: 1px solid blueviolet;
    border-radius: 10px;
    width: 150px;
    height: 50px;
}

/* Responsive Application */
@media (max-width: 575.98px) {
    body {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    body {
        width: 100%;
    }
}

@media (max-width: 991.98px) {
    body {
        width: 100%;
    }
}

@media (max-width: 1199.98px) {
    body {
        width: 100%;
    }
}